.accordion-price {
  background-color: $gold-light;

  
  border-radius: 15px;
  padding: 0 40px;

  &__head {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 400;
    color: $brown;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    max-width: 773px;
    font-weight: 400;
    color: $brown;
  }

  &__icon-shevron {
    width: 40px;
    height: 20px;
    // width: 2.4rem;
    // height: 2.4rem;
    // stroke-width: 2;
    // stroke-linecap: square;
    fill: $brown;
    transition: transform 0.3s ease;

    &.active {
      transform: rotateX(-180deg);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    &.active {
      padding-bottom: 24px;
    }
  }

  &__link {
    font-weight: 600;
    color: $color-white;
    margin-top: 32px;

    &:hover {
      // color: $color-blue-900;
    }

    &.unit {
      margin-top: 0;
    }
  }

  &__button {
    margin-top: 16px;
    margin-bottom: 24px;
    width: 100%;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: $color-grey-100;

    font-weight: 500;
    color: $color-white;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px solid $brown;
  }

  &__content {
  }
  &__wysiwyg {

  }
}
