.catalog {
  display: flex;
  flex-direction: column;  

  &__grid {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px 24px;

    &.no-margin {
      margin-top: 0;
    }
  }
}
